:root {
  --brand--color: #00b533;
  --white: #ffffff;
  --default: #dfe3e8;
  --dark--default: #c4cdd5;
  --dark: #002930;
  --green: #00b533;
  --light-green: #e2f5e9;
  --green-back: #45b36b;
  --dark--green: #007b55;
  --info: #1890ff;
  --primary: #0c53b7;
  --success: #30c062;
  --dark--success: #229a16;
  --warning: #ffc107;
  --dark--warning: #b78103;
  --danger: #ff4842;
  --dark--danger: #b72136;
  --text: #002930;
  --text--disable: #919eab;
  --defult--hover: #f1f3f5;
  --green--hover: #e5f4ee;
  --info--hover: #e7f2fb;
  --success--hover: #ecf7ea;
  --warning--hover: #f9f5e7;
  --danger--hover: #f9ecec;
  --border--navbar: #919eab24;
  --icon--default: #637381;
  --icon--disable: #a6b0bb;
  --icon--dark: #002930;
  --icon--wrapper--bg: #f1f3f5;
  --icon--wrapper--bg--green: #e5f4ee;
  --icon--wrapper--bg--info: #e7f2fb;
  --icon--wrapper--bg--success: #ecf7ea;
  --icon--wrapper--bg--warning: #f9f5e7;
  --icon--wrapper--bg--danger: #f9ecec;
  --btn--bg--default: #dfe3e8;
  --btn--bg--purple: #9757d7;
  --btn--hover--bg--default: #c4cdd5;
  --btn--hover--bg--green: #007b55;
  --btn--hover--bg--info: #0c53b7;
  --btn--hover--bg--success: #229a16;
  --btn--hover--bg--warning: #b78103;
  --btn--hover--bg--danger: #b72136;
  --btn--hover--shadow--default: rgba(145, 158, 171, 0.24);
  --btn--hover--shadow--green: rgba(0, 171, 85, 0.24);
  --btn--hover--shadow--info: rgba(24, 144, 255, 0.24);
  --btn--hover--shadow--success: rgba(84, 214, 44, 0.24);
  --btn--hover--shadow--warning: rgba(255, 193, 7, 0.24);
  --btn--hover--shadow--danger: rgba(255, 72, 66, 0.24);
  --btn--outline--border--default: #d8dde1;
  --btn--outline--border--default--hover: #d2d8dd;
  --btn--outline--border--green: rgba(0, 171, 85, 0.48);
  --btn--outline--border--info: rgba(24, 144, 255, 0.48);
  --btn--outline--border--success: rgba(84, 214, 44, 0.48);
  --btn--outline--border--danger: rgba(255, 72, 66, 0.48);
  --btn--outline--border--warning: rgba(255, 193, 7, 0.48);
  --btn--outline--bg--hover--default: #f1f3f5;
  --btn--outline--bg--hover--green: #e5f4ee;
  --btn--outline--bg--hover--info: #e7f2fb;
  --btn--outline--bg--hover--success: #e5f4ee;
  --btn--outline--bg--hover--warning: #f9f5e7;
  --btn--outline--bg--hover--danger: #f9ecec;
  --input--border: #d8dde1;
  --input--border--focus: #002930;
  --input--caret--color: #28282899;
  --input--placeholder--color: #919eab;
  --textArea--scroolbar--bg: rgba(145, 158, 171, 0.24);
  --textArea--border: #d8dde1;
  --textArea--placeholder--color: #919eab;
  --select--border: #d8dde1;
  --select--border--focus: #002930;
  --select--color--focus: #002930;
  --select--color: #919eab;
  --checkbox--text--disable: #919eab;
  --switch--bg--default: #919eab32;
  --switch--bg--disabled: rgba(145, 158, 171, 0.24);
  --switch--bg--checked: #a9e4bb;
  --switch--circle--default: rgba(145, 158, 171, 0.08);
  --switch--circle--checked: rgba(0, 171, 85, 0.08);
  --switch--circle--bg--default: #f9fafb;
  --switch--circle--bg--disabled: #c4cdd5;
  --switch--circle--shadow--default: rgba(145, 158, 171, 0.24);
  --radio--border: #637381;
  --radio--wrapper--bg: #f1f3f5;
  --radio--wrapper--bg--checked: #e5f4ee;
  --radio--disabled: #a6b0bb;
  --progress--wrapper--bg--green: #c8facd;
  --progress--wrapper--bg--info: #d0f2ff;
  --progress--wrapper--bg--success: #e9fcd4;
  --progress--wrapper--bg--warning: #fff7cd;
  --progress--wrapper--bg--danger: #ffd9d9;
  --alert--light--info--bg: #d0f2ff;
  --alert--light--info--text: #04297a;
  --alert--light--success--bg: #e9fcd4;
  --alert--light--success--text: #08660d;
  --alert--light--warning--bg: #fff7cd;
  --alert--light--warning--text: #7a4f01;
  --alert--light--danger--bg: #ffd9d9;
  --alert--light--danger--text: #7a0c2e;
  --pagination--page--hover: rgba(145, 158, 171, 0.16);
  --pagination--page--active: #e5f4ee;
  --pagination--page--border: rgba(145, 158, 171, 0.32);
  --pagination--prevNext--border--disable: rgba(145, 158, 171, 0.24);
  --step--item--bg--default: #919eab;
  --toast--bg--default: #212b36;
  --toast--shadow--default: rgba(145, 158, 171, 0.24);

  --toast--actions--border: rgba(145, 158, 171, 0.24);
  --accordion--box--shadow--default: rgba(145, 158, 171, 0.24);
  --accordion--box--shadow--open: rgba(145, 158, 171, 0.24);
  --accordion--disable: #b4bcc3;
  --card--shadow--default: rgba(145, 158, 171, 0.24), 0px 16px 32px -4px rgba(145, 158, 171, 0.24);
  --card--footer--border: #e5e8eb;
  --carousel--dots--bg--default: #88e49c;
  --carousel--item--v1--bg: #c8facd;
  --carousel--item--v2--bg: rgba(22, 28, 36, 0.72);
  --sidebar--list--item--bg--hover: #f4f6f880;
  --sidebar--list--item--bg--active: #ebf8f1;
  --sidebar--list--item--page--circle--bg: #637381;
  --login--footer--link--bg: #effef0;
  --label--default--bg: #dfe3e8;
  --label--default--border--hover: rgba(145, 158, 171, 0.32);
}
/*# sourceMappingURL=colors.css.map */
